.ui.button.github-button {
    background-color: #333333;
    color: #ffffff;
}
.ui.button.stackoverflow-button {
    background-color: #F48024;
    color: #ffffff;
}
.ui.button.medium-button {
    background-color: #00ab6c;
    color: #ffffff;
}
.ui.button.docker-button {
    background-color: #0db7ed;
    color: #ffffff;
}

.ui.button.github-button:hover {
    background-color: #111111;
    color: #ffffff;
}
.ui.button.stackoverflow-button:hover {
    background-color: #F26E02;
    color: #ffffff;
}
.ui.button.medium-button:hover {
    background-color: #0F9a5b;
    color: #ffffff;
}
.ui.button.docker-button:hover {
    background-color: #384d54;
    color: #ffffff;
}

