.ui.button.github-button {
    background-color: #333333;
    color: #ffffff;
}

.ui.button.github-button:hover {
    background-color: #111111;
    color: #ffffff;
}

.ui.button.industry-button {
    background-color: white;
    border: 1px solid #e8e8e8;
}

.ui.button.industry-button:hover {
    background-color: #0C5FFF;
    color: #ffffff;
}

.ui.button.active.industry-button {
    background-color: #0C5FFF;
    color: #ffffff;
}

.ui.button.active.industry-button:hover {
    background-color: #0C5FFF;
    color: #ffffff;
}

.Navbar {
    height: 56px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    z-index: 90;
}

.Navbar Menu {
    width: 100%;
}

.sticky {
    height: 48px;
    background-color: #ffffff;
    width: 72vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    z-index: 90;
    left: 14%;
    border-radius: 25px 25px 0px 0px;
    border: 2px solid #e8e8e8;
}

.navbar-text {
    color: #676767;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    font-style: italic;
}

.navbar-text:hover {
    color: #0C5FFF;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    font-style: italic;
}

.navbar-text2 {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-text2:hover {
    color: #0C5FFF;
}

.ui.secondary.menu a.item.button-item {
    display: none;
}

.ui.secondary.menu a.item.hamburger-item {
    display: block;
}

.ui.secondary.menu a.item.main-item:hover, .ui.secondary.menu a.item.hamburger-item:hover {
    background: transparent;
}

.card-title {
    font-size: 1.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.tagline {
    height: 42px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 720px) {
    .navbar-text {
        font-size: 1.8em;
        display: block;
    }
    .navbar-text:hover {
        color: #0C5FFF;
        font-size: 1.8em;
        display: block;
    }
    .ui.secondary.menu a.item.button-item {
        display: block;
    }
    .ui.secondary.menu a.item.hamburger-item {
        display: none;
    }
    .ui.right.sidebar.sidebar-menu {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        visibility: hidden;
    }
}