html {
    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 400;
}

.card-link {
    color: #555B66;
    font-family: Nunito;
}

.card-link:hover {
    color: #5131F7;
}

.ui.button.github-button {
    background-color: #333333;
    color: #ffffff;
    font-family: Nunito;
}

.ui.button.github-button:hover {
    background-color: #111111;
    color: #ffffff;
}

.ui.button.industry-button {
    color: #555B66;
    background-color: white;
    border: 1px solid #CECECF;
    font-family: Nunito;
}

.ui.button.industry-button:hover {
    background-color: #5131F7;
    color: #ffffff;
}

.ui.button.active.industry-button {
    background-color: #5131F7;
    color: #ffffff;
}

.ui.button.active.industry-button:hover {
    background-color: #5131F7;
    color: #ffffff;
}

.Navbar {
    height: 56px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CECECF;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    z-index: 90;
}

.Navbar Menu {
    width: 100%;
}

.navbar-text {
    color: #555B66;
    font-size: 1.5em;
    display: block;
    font-weight: bold;
    font-family: Nunito;
}

.navbar-text:hover {
    color: #5131F7;
    font-size: 1.5em;
    display: block;
}

.navbar-text2 {
    color: #555B66;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Nunito;
}

.navbar-text2:hover {
    color: #5131F7;
}

.ui.secondary.menu a.item.button-item {
    display: none;
}

.ui.secondary.menu a.item.hamburger-item {
    color: #555B66;
    display: block;
}

.ui.secondary.menu a.item.main-item:hover, .ui.secondary.menu a.item.hamburger-item:hover {
    background: transparent;
}

.card-title {
    color: #1A202C;
    position: 'relative';
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card-image-header {
    z-index: 1;
    position: relative;
    border-radius: 4px 4px 0 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
    object-position: 0 0%;
}

.card-avatar {
    z-index: 2;
    position: relative;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 2px double #e2e8f0;
}

.card-avatar-big {
    z-index: 2;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px double #e2e8f0;
}

.tagline {
    color: #555B66;
    height: 42px;
    font-style: italic;
    font-family: Nunito;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* The hero image */

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../public/vietnam.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

@media only screen and (min-width: 720px) {
    .navbar-text {
        font-size: 1.8em;
        display: block;
        font-family: Nunito;
    }

    .navbar-text:hover {
        color: #5131F7;
        font-size: 1.8em;
        display: block;
    }

    .ui.secondary.menu a.item.button-item {
        display: block;
    }

    .ui.secondary.menu a.item.hamburger-item {
        display: none;
    }

    .ui.right.sidebar.sidebar-menu {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        visibility: hidden;
    }
}